<div class="wrapper">
    <!-- Friends -->
    <h5 class="headline italic text-center">Let's be friends</h5>
    <div class="social">
        <div class="social-item twitter" appExternalLink="https://twitter.com/karankraina">
            <img src="assets/icons/twitter.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">Twitter</p>
            <p class="social-username">@karankraina</p>
        </div>
        <div class="social-item facebook" appExternalLink="https://facebook.com/karankraina">
            <img src="assets/icons/facebook.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">Facebook</p>
            <p class="social-username">@karankraina</p>
        </div>
        <div class="social-item instagram" appExternalLink="https://instagram.com/karankraina">
            <img src="assets/icons/instagram.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">Instagram</p>
            <p class="social-username">@karankraina</p>
        </div>
        <div class="social-item whatsapp" appExternalLink="https://wa.link/3ajsbp">
            <img src="assets/icons/whatsapp.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">Whatsapp</p>
        </div>
    </div>
    <!-- Work -->
    <h5 class="headline italic text-center">Or let's talk work</h5>
    <div class="social">
        <div class="social-item linkedin" appExternalLink="https://linkedin.com/in/karankraina">
            <img src="assets/icons/linkedin.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">Linkedin</p>
            <p class="social-username">@karankraina</p>
        </div>
        <div class="social-item gmail" appExternalLink="mailto:karanraina1996@gmail.com">
            <img src="assets/icons/gmail.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">Gmail</p>
        </div>
        <div class="social-item github" appExternalLink="https://github.com/karankraina">
            <img src="assets/icons/github.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">GitHub</p>
            <p class="social-username">@karankraina</p>
        </div>
    </div>
    <!-- learn with me -->
    <h5 class="headline italic text-center">Learn with me</h5>
    <div class="social">
        
        <div class="social-item instagram" appExternalLink="https://instagram.com/codingwithkaran">
            <img src="assets/icons/instagram.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">Instagram</p>
            <p class="social-username">@codingwithkaran</p>
        </div>
        <div class="social-item youtube" appExternalLink="https://www.youtube.com/channel/UCjCOdR3PAwnPIFq1OS_c0dQ?sub_confirmation=1">
            <img src="assets/icons/youtube.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">Youtube</p>
        </div>
        <div class="social-item twitter" appExternalLink="https://twitter.com/codewithkaran">
            <img src="assets/icons/twitter.svg" width="200" alt="" class="img-fluid social-logo">
            <p class="italic text-center">Twitter</p>
            <p class="social-username">@codewithkaran</p>
        </div>
    </div>
</div>