<nav>
    <div class="container">
        <div class="header-item">
            <a class="header-item-link" appHoverClass="active" routerLink="/" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: true}">
                Profile
                <span class="little-bottom d-none d-sm-block black-shadow">know me</span>
            </a>
        </div>
        <div class="header-item">
            <a class="header-item-link" appHoverClass="active" routerLink="/projects" [routerLinkActive]="'active'">
                Projects
                <span class="little-bottom d-none d-sm-block black-shadow">hobby</span>
            </a>
        </div>
        <div class="header-item">
            <a class="header-item-link" appHoverClass="active" routerLink="/javascript" [routerLinkActive]="'active'">
                JavaScript
                <span class="little-bottom d-none d-sm-block black-shadow">snippets </span>
            </a>
        </div>
        <div class="header-item">
            <a class="header-item-link" appHoverClass="active" routerLink="/uses" [routerLinkActive]="'active'">
                /uses
                <span class="little-bottom d-none d-sm-block black-shadow">tools I use</span>
            </a>
        </div>
        <div class="header-item">
            <a class="header-item-link" appHoverClass="active" routerLink="/contact" [routerLinkActive]="'active'">
                Contact
                <span class="little-bottom d-none d-sm-block black-shadow">meet on web</span>
            </a>
        </div>
        <div class="header-item">
            <a class="header-item-link" appHoverClass="active" routerLink="/resume" [routerLinkActive]="'active'">
                Resume
                <span class="little-bottom d-none d-sm-block black-shadow">under development</span>
            </a>
        </div>
    </div>
</nav>