.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(1, 58px);
    padding: 20px 0;
    min-height: 100px;
    align-items: center;
    grid-gap: 2rem 1rem;
    border-bottom: 3px solid var(--blackColor);
}

.header-item {
    text-align: center;
}

.brand-title {
    margin: auto;
}

.brand-title h1 {
    margin-top: 20px;
    font-weight: bold;
}

.brand-title p {
    font-weight: bold;
    font-style: italic;
}

.header-item-link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
    color: var(--blackColor);
    font-size: 2rem;
    text-decoration: none;
    position: relative;
}

/* .header-item-link:hover, .header-item-link:focus {
    text-shadow: 0.5px 0.5px 0.5px var(--brightYellow);
    transform: scale(1.1);
    background: rgb(131, 58, 180);
    background: linear-gradient(145deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 64%, rgba(252, 176, 69, 1) 100%);
} */

/* .active {
    text-shadow: 0.5px 0.5px 0.5px var(--brightYellow);
    transform: scale(1.1);
    text-decoration: underline !important;
    background: rgb(131, 58, 180);
    background: linear-gradient(145deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 64%, rgba(252, 176, 69, 1) 100%);
} */

.active {
    position: relative;
    color: lightcyan;
}

.active::before {
    content: '';
    position: absolute;
    min-width: 100%;
    display: inline-block;
    z-index: -10;
    left: -20px;
    background: rgb(131, 58, 180);
    background: linear-gradient(145deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 64%, rgba(252, 176, 69, 1) 100%);
    min-width: calc(100% + 40px);
    min-height: 100%;
    transform: rotate(-2deg);
}

.little-bottom {
    font-family: 'Kalam', cursive;
    color: #FFF;
    font-weight: bold;
    position: absolute;
    bottom: -16px;
    right: 0;
    display: block;
    font-size: 18px;
    min-width: max-content;
}