<nav>
    <div class="container">
        <div class="header-item">
            <a class="header-item-link" appHoverClass="link-hover" routerLink="/" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact: true}">
                Home
                <span class="little-bottom black-shadow">welcome</span>
            </a>
        </div>
        <div class="header-item">
            <a class="header-item-link" appHoverClass="link-hover" routerLink="/contact" [routerLinkActive]="'active'">
                Contact
                <span class="little-bottom black-shadow">me...</span>
            </a>
        </div>
        <div class="header-item">
            <a class="header-item-link" appHoverClass="link-hover" routerLink="/javascript"
                [routerLinkActive]="'active'">
                JavaScript
                <span class="little-bottom black-shadow">mini blogs </span>
            </a>
        </div>
        <div class="header-item">
            <a class="header-item-link" appHoverClass="link-hover" routerLink="/sharda" [routerLinkActive]="'active'">
                Sharda
                <span class="little-bottom black-shadow">script </span>
            </a>
        </div>
    </div>
</nav>