.brand-title {
    margin: auto;
}

.brand-title h1 {
    margin-top: 20px;
    font-weight: bold;
}

.brand-title p {
    font-weight: bold;
    font-style: italic;
}

.brand-image {
    color: aliceblue;
    fill: red;
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}