<div class="main-wrapper">
    <div class="container">
        <div class="brand-text">
            <h2><span class="text-deco">Hey, I'm Karan Raina</span></h2>
            <p>
                A <span class="underline">Full Stack Web Developer</span> from <span class="underline">India</span> 🇮🇳 with over 3 years of professional
                experience in developing modern web
                applications.
            </p>
            <p>
                I am a JavaScript enthusiast who loves to design and build web applications using JS. Currently, I am working as a <span class="underline">System Engineer</span> with <span class="underline">Tata Consultancy Services Ltd, India.</span>
            </p>
            <p>
                You can read more about me <a routerLink="about">here</a>.
            </p>
            <p>
                Sometimes, I post some cool JavaScript tricks/ code snippets derived from real-world use-cases. You sure don't want to miss <a routerLink="about">them</a> 😉
            </p>
            <p>
                I am also working on to revive <span class="underline">Sharda Script</span> which is an ancient and sacred script of Kashmir. The script is on the verge of extinction and needs immediate revival. Read more <a routerLink="sharda">here</a>.
            </p>
        </div>
    </div>
</div>