<div class="container-fluid">
    <div class="row">
        <div class="col-12 order-md-2 col-md-6 d-flex justify-content-center">
            <img class="img-fluid" src="assets/image.svg" alt="Karan Raina">
        </div>
        <div class="col-12 order-md-1 col-md-6 d-flex justify-content-center">
            <div class="brand-title">
                <h1>Karan Raina</h1>
                <p>Full Stack Developer</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <home-list></home-list>
            </div>
            <div class="col-8">
                Right Panel
            </div>
        </div>
    </div>
    
</div>
