<div class="container-fluid main-wrapper">
    <div class="row">
        <div class="col-12 col-md-6 order-md-2 p-0">
            <!-- Right Side Column -->
            <div class="brand-image">
                <img class="img-fluid" loading="lazy" width="800" src="assets/karan-raina.jpg" alt="Karan Raina">
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-1 mt-4 d-flex justify-content-center align-items-center">
            <!-- Left Side Column -->
            <div class="brand-text">
                <h2 class="title text-deco">Karan Raina</h2>
                <p class="description">
                    I am a <span class="underline">Full Stack Developer</span> with over 3 years of professional experience in developing modern web
                    applications.
                </p>
            </div>
        </div>
    </div>
</div>