<div class="row justify-content-center">
    <div class="col-3 col-md-2 tech-wrapper" *ngFor="let tech of techStack">
        <div class="tech-item"><img class="img-fluid" width="20px" src="{{tech.logo}}" alt="{{tech.title}}">{{tech.title}}</div> 
    </div>
    <div class="col-3 col-md-2  tech-wrapper">
       <div class="tech-item"><img class="img-fluid" width="20px" src="assets/reactjs.svg" alt="React JS">React JS</div>  
    </div>
    <div class="col-3 col-md-2  tech-wrapper">
        <div class="tech-item"><img class="img-fluid" width="20px" src="assets/angularjs.svg" alt="Angular JS">Angular JS</div> 
    </div>
    <div class="col-3 col-md-2  tech-wrapper">
        <div class="tech-item"><img class="img-fluid" width="20px" src="assets/nextjs.svg" alt="Next JS">Next JS</div> 
    </div>
</div>