.brand-text h1 {
    margin-bottom: 0;
    font-family: 'Alfa Slab One', Lobster;
}
.download-button {
    background-color: #00abff;
    color: #000 !important;
}

.brand-text p {
    font-style: italic;
}

.underline {
    text-decoration: underline !important;
    text-decoration-color: rgb(47, 45, 179) !important;
}

.head-title {
    margin-top: 10px;
    margin-bottom: 15px;
}

.custom-list {
    padding: 5px 0
}
.btn {
    font-weight: bold;
    color: #FFF;
}

.btn.btn-facebook{
    background-color: #4267B2;
}
.btn.btn-twitter{
    background-color: 	#1DA1F2;
}
.btn.btn-instagram{
    background-color: #8a3ab9;
}
.btn.btn-linkedin{
    background-color: #0077b5;
}
.btn.btn-github{
    background-color: #4078c0;
}
.btn.btn-gmail{
    background-color: #B23121;
}
.btn.btn-whatsapp{
    background-color: #4FCE5D;
}
.btn.btn-youtube{
    background-color: #FF0000;
}

