<div class="container">
    <div class="brand-text d-flex flex-column align-items-center">
        <img class="img-fluid" width="150px" src="assets/image.svg" alt="{{resumeData.name}}">
        <h1>{{resumeData.name}}</h1>
        <p>{{resumeData.role}}</p>
        <a href="assets/resume.pdf" target="_blank" download="Karan Resume.pdf" class="button btn download-button">Download Resume</a>
    </div>
    <hr />

    <h2 class="head-title text-center underline"><span class="highlight">Things I know</span></h2>
    <app-tech-grid></app-tech-grid>


    <hr />
    <h2 class="head-title text-center underline"><span class="highlight">Profile</span></h2>
    <p class="paragraph-text">{{resumeData.profile}}</p>

    <hr />
    <h2 class="head-title text-center underline"><span class="highlight">Professional Summary</span></h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item custom-list" *ngFor="let desc of resumeData.professionalSummary">{{desc}}</li>
    </ul>

    <hr />
    <h2 class="head-title text-center underline"><span class="highlight">Connect on Internet</span></h2>
    <div class="row text-center">
        <div class="col-4 pt-2 col-md-3">
            <a href="https://facebook.com/karankraina" target="_blank" class="button btn btn-facebook">Facebook</a>
        </div>
        <div class="col-4 pt-2 col-md-3">
            <a href="https://twitter.com/karankraina" target="_blank" class="button btn btn-twitter">Twitter</a>
        </div>
        <div class="col-4 pt-2 col-md-3">
            <a href="https://instagram.com/karankraina" target="_blank" class="button btn btn-instagram">Instagram</a>
        </div>
        <div class="col-4 pt-2 col-md-3">
            <a href="https://linkedin.com/in/karankraina" target="_blank" class="button btn btn-linkedin">LinkedIn</a>
        </div>
        <div class="col-4 pt-2 col-md-3">
            <a href="https://github.com/karankraina" target="_blank" class="button btn btn-github">GitHub</a>
        </div>
        <div class="col-4 pt-2 col-md-3">
            <a href="mailto:karanraina1996@gmail.com" target="_blank" class="button btn btn-gmail">GMail</a>
        </div>
        <div class="col-4 pt-2 col-md-3">
            <a href="https://wa.link/p9gj8d" target="_blank" class="button btn btn-whatsapp">WhatsApp</a>
        </div>
        <div class="col-4 pt-2 col-md-3">
            <a href="https://www.youtube.com/channel/UCjCOdR3PAwnPIFq1OS_c0dQ?sub_confirmation=1" target="_blank" class="button btn btn-youtube">Youtube</a>
        </div>
    </div>
</div>