.brand-text h1 {
    margin-bottom: 0;
    font-weight: bold;
}

.brand-text p {
    font-style: italic;
    font-family: Tahoma;
}

.underline {
    text-decoration: underline !important;
    text-decoration-color: rgb(47, 45, 179) !important;
}



.head-title {
    margin-top: 10px;
    margin-bottom: 15px;
    ;
}