/* You can add global styles to this file, and also import other style files */

:root {
    --blackColor: #000738;
    --brightYellow: #ffe600;
}

/* Light Global Styles */

body.light {
    --backgroundPrimaryColor: #fff;
    --backgroundSecondaryColor: #f9fafb;
    --textNormal: #222;
    --textTitle: #222;
    --linkColor: #d23669;
    --highlightPrimaryBackground: #fdbcd1;
    --highlightSecondaryBackground: #FFF;
    --highlightText: #d23669;
}

/* Dark Global Styles */
body.dark {
    --backgroundPrimaryColor: #282c35;
    --backgroundSecondaryColor: #363c48;
    --textNormal: hsla(0, 0%, 100%, 0.88);
    --textTitle: #fff;
    --linkColor: #ffa7c4;
    --highlightPrimaryBackground: #5a2b3a;
    --highlightSecondaryBackground: #363c48;
    --highlightText: #ffa7c4;
}

html {
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    box-sizing: border-box;
    background-color: var(--backgroundPrimaryColor);
}

*, *::before, *::after {
    box-sizing: inherit;
}



/* Highlighter */

.black-shadow {
    text-shadow: 1px 2px 2px var(--blackColor) !important;
}

.highlight {
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
}

.highlight::before {
    content: '';
    position: absolute;
    min-width: 100%;
    display: inline-block;
    z-index: -10;
    left: -20px;
    background: rgb(245, 231, 18);
    background: linear-gradient(90deg, rgba(245, 231, 18, 1) 0%, rgba(255, 255, 255, 1) 100%);
    min-width: calc(100% + 40px);
    min-height: 100%;
    transform: rotate(-1deg);
}