/* You can add global styles to this file, and also import other style files */

:root {
    --blackColor: #000738;
    --brightYellow: #ffe600;
}

/* Light Global Variables */

body.light {
    --backgroundPrimaryColor: #fff;
    --backgroundSecondaryColor: #f9fafb;
    --textNormal: #222;
    --textTitle: #222;
    --linkColor: #d23669;
    --highlightPrimaryBackground: #fdbcd1;
    --highlightSecondaryBackground: #FFF;
    --highlightText: #d23669;
}

/* Dark Global Variables */
body.dark {
    --backgroundPrimaryColor: #282c35;
    --backgroundSecondaryColor: #363c48;
    --textNormal: hsla(0, 0%, 100%, 0.88);
    --textTitle: #fff;
    --linkColor: #ffa7c4;
    --highlightPrimaryBackground: #5a2b3a;
    --highlightSecondaryBackground: #363c48;
    --highlightText: #ffa7c4;
}

/* Global Styles */

html {
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    box-sizing: border-box;
    background-color: var(--backgroundPrimaryColor);
    font-size: 20px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: var(--linkColor);
    text-decoration: underline;
}

.italic {
    font-family: kalam;
}



/* Highlighter */

.text-deco {
    position: relative;
}

.text-deco::before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    display: block;
    background: linear-gradient(180deg, var(--linkColor), var(--backgroundPrimaryColor) 100%);
    width: 20px;
    height: 20px;
    z-index: -100;
    transform: skew(0deg) rotate(-9deg);
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--linkColor);
    text-decoration-thickness: 2px;
}
