<div class="wrapper" *ngIf="!isLoading; else loadingScreen">

    <h4 class="title">{{ blog.title }}</h4>
    <p class="meta">{{ blog.author }} | {{ blog.publishedDate }}</p>

    <div class="short-description">
        <p>{{ blog.shortDescription }}</p>
    </div>

    <div class="main-content">
        <div class="paragraph" *ngFor="let para of blog.content">
            <p>{{ para.text }}</p>
            <img class="img-fluid" *ngIf="para.image" src="{{ para.image }}" alt="{{ blog.id }}">
        </div>
    </div>
</div>

<ng-template #loadingScreen>
    <h4 class="loader">Content is being loaded 🔥</h4>
</ng-template>