:root {
  --color-primary: #000203;
  --color-dark: #14243c;
  --color-light: #FFF;
  --color-code-1: #e07013;
  --color-code-2: #65eb77;
  --color-code-3: #cd3ad2;
  --color-code-4: #ff9d00;
  --color-code-5: #1673ee;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 10;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: var(--color-light);
  background: var(--color-primary);
}

/* For mobile devices */
@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
}
